@page "/pages/settings/addtransactionmode"
@inject NavigationManager NavigationManager 
@inject HttpClient Http
<h3>Add TransactionMode</h3>

<MudText Typo="Typo.h4" GutterBottom="true">Add New TransactionMode Name</MudText>
<MudTextField @bind-Value="unit.Name" T="string" Label="ex: Cash, ATM, Phone Pay etc" Variant="Variant.Outlined"></MudTextField>
<div Class="d-flex justify-space-between align-center">
<MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!allFieldsEntered)" Size="Size.Large" @onclick="@(() => AddAsync())">Save</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!allFieldsEntered)" Link="pages/settings/unitpage" Size="Size.Large">Cancel</MudButton>
</div>



@code {
    public bool allFieldsEntered { get; set; } = true;
        protected TransactionMode unit { get; set; } = new TransactionMode();
        protected async Task AddAsync()
        {
                        Ganesh.Expenses.Web.Client.Services.IServiceParameter serviceParameter = 
                        new Ganesh.Expenses.Web.Client.Services.ServiceParameter("api/transactionmodes");
            Ganesh.Expenses.Web.Client.Services.IExpensesService<TransactionMode> expensesService =
                        new Ganesh.Expenses.Web.Client.Services.ExpensesService<TransactionMode>(Http);
            await expensesService.AddItem(unit, serviceParameter);

        NavigationManager.NavigateTo("pages/settings/transactionmodepage");
        }
}
