@page "/pages/settings/edittransactionmode/{id}"
@inject HttpClient Http

<h3>Edit TransactionMode</h3>

<MudText Typo="Typo.h4" GutterBottom="true">Edit TransactionMode Details</MudText>

<MudTextField @bind-Value="transactionMode.Name" T="string" Label="ex: Cash, ATM, Phone Pay etc" Variant="Variant.Outlined"></MudTextField>
<div Class="d-flex justify-space-between align-center">
<MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!allFieldsEntered)" Size="Size.Large" @onclick="@(() => Update())">Update</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!allFieldsEntered)" Link="/pages/settings/transactionmodelist" Size="Size.Large">Cancel</MudButton>
</div>

@code {
    public bool allFieldsEntered { get; set; } = true;
    [Parameter]
    public string id{ get; set; }
    public TransactionMode transactionMode { get; set; } = new TransactionMode();
    private Ganesh.Expenses.Web.Client.Services.IExpensesService<TransactionMode> expensesService;
    private Ganesh.Expenses.Web.Client.Services.IServiceParameter serviceParameter { get; set; }
    = new Ganesh.Expenses.Web.Client.Services.ServiceParameter("api/transactionmodes");

    protected override async Task OnInitializedAsync()
    {
        expensesService = new Ganesh.Expenses.Web.Client.Services.ExpensesService<TransactionMode>(Http);
        transactionMode = await expensesService.GetItem(Convert.ToInt32(id), serviceParameter);
    }
    async Task Update()
    {
        await expensesService.UpdateItem(transactionMode.Id, transactionMode, serviceParameter);
        @inject NavigationManager navigationManager;
        navigationManager.NavigateTo("/pages/settings/transactionmodepage");
    }
}
