@page "/pages/settings/editbank/{id}"
@inject HttpClient Http

<h3>Edit Bank</h3>

<MudText Typo="Typo.h4" GutterBottom="true">Edit New Bank Details</MudText>

<MudTextField @bind-Value="item.Name" T="string" Label="Account Holder Name" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="item.BankName" T="string" Label="ex : ICICI, HDFC etc" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="item.AccountNumber" T="string" Label="Account Number" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="item.Branch" T="string" Label="Branch" Variant="Variant.Outlined"></MudTextField>
<MudTextField @bind-Value="item.IFSC" T="string" Label="IFSC" Variant="Variant.Outlined"></MudTextField>
<div Class="d-flex justify-space-between align-center">
<MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!allFieldsEntered)" Size="Size.Large" @onclick="@(() => Update())">Update</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!allFieldsEntered)" Link="/pages/settings/banklist" Size="Size.Large">Cancel</MudButton>
</div>

@code {
    public bool allFieldsEntered { get; set; } = true;
    [Parameter]
    public string id{ get; set; }
    public Bank item { get; set; } = new Bank();
    //HttpClient httpClient { get; set; }
    private Ganesh.Expenses.Web.Client.Services.IExpensesService<Bank> expensesService;
    private Ganesh.Expenses.Web.Client.Services.IServiceParameter serviceParameter { get; set; }
    = new Ganesh.Expenses.Web.Client.Services.ServiceParameter("api/banks");

    protected override async Task OnInitializedAsync()
    {
        expensesService = new Ganesh.Expenses.Web.Client.Services.ExpensesService<Bank>(Http);
        item = await expensesService.GetItem(Convert.ToInt32(id), serviceParameter);

        item = await Http.GetFromJsonAsync<Bank>($"api/banks/{Convert.ToInt32(id)}");
    }
    async Task Update()
    {
        await expensesService.UpdateItem(item.Id, item, serviceParameter);
       
        @inject NavigationManager navigationManager;
        navigationManager.NavigateTo("/pages/settings/bankpage");

    }
}
