@page "/pages/settings/editrelationtype/{id}"
@inject HttpClient Http

<h3>Edit RelationType</h3>

<MudText Typo="Typo.h4" GutterBottom="true">Edit New RelationType Details</MudText>

<MudTextField @bind-Value="RelationType.Name" T="string" Label="ex : Wife, Husband, Daughter etc" Variant="Variant.Outlined"></MudTextField>
<div Class="d-flex justify-space-between align-center">
<MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!allFieldsEntered)" Size="Size.Large" @onclick="@(() => Update())">Update</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!allFieldsEntered)" Link="/pages/settings/relationrypelist" Size="Size.Large">Cancel</MudButton>
</div>

@code {
    public bool allFieldsEntered { get; set; } = true;
    [Parameter]
    public string id{ get; set; }
    public RelationType RelationType { get; set; } = new RelationType();
    private Ganesh.Expenses.Web.Client.Services.IExpensesService<RelationType> expensesService;
    private Ganesh.Expenses.Web.Client.Services.IServiceParameter serviceParameter { get; set; }
    = new Ganesh.Expenses.Web.Client.Services.ServiceParameter("api/relationtypes");

    protected override async Task OnInitializedAsync()
    {
        expensesService = new Ganesh.Expenses.Web.Client.Services.ExpensesService<RelationType>(Http);
        RelationType = await expensesService.GetItem(Convert.ToInt32(id), serviceParameter);
    }
    async Task Update()
    {
        await expensesService.UpdateItem(RelationType.Id, RelationType, serviceParameter);
        @inject NavigationManager navigationManager;
        navigationManager.NavigateTo("/pages/settings/relationtypepage");
    }
}
