@page "/pages/settings/editincometype/{id}"
@inject HttpClient Http
<h3>Edit Income Type</h3>


<MudText Typo="Typo.h4" GutterBottom="true">Edit Income Type Details</MudText>

<MudTextField @bind-Value="item.Name" T="string" Label="Bank Name" Variant="Variant.Outlined"></MudTextField>
<div Class="d-flex justify-space-between align-center">
<MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!allFieldsEntered)" Size="Size.Large" @onclick="@(() => Update())">Update</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!allFieldsEntered)" Link="/pages/settings/incometypelist" Size="Size.Large">Cancel</MudButton>
</div>

@code {
    public bool allFieldsEntered { get; set; } = true;
    [Parameter]
    public string id{ get; set; }
    public IncomeType item { get; set; } = new IncomeType();
    private Ganesh.Expenses.Web.Client.Services.IExpensesService<IncomeType> expensesService;
    private Ganesh.Expenses.Web.Client.Services.IServiceParameter serviceParameter { get; set; } 
    = new Ganesh.Expenses.Web.Client.Services.ServiceParameter("api/incometypes");

    protected override async Task OnInitializedAsync()
    {
        expensesService = new Ganesh.Expenses.Web.Client.Services.ExpensesService<IncomeType>(Http);
        item = await expensesService.GetItem(Convert.ToInt32(id), serviceParameter);
    }
    async Task Update()
    {
        await expensesService.UpdateItem(item.Id, item, serviceParameter);
        
        @inject NavigationManager navigationManager;
        navigationManager.NavigateTo("/pages/settings/incometypepage");

    }
}
